body {
  background-color: #eb2fcc;
  /* Рожевий фон */
}

p {
  color: rgb(32, 30, 180);
  /* Синій шрифт */
}

textarea {
  color: rgb(32, 30, 180);
  /* Синій шрифт */
}

option {
  color: rgb(32, 30, 180);
  /* Синій шрифт */
}

value {
  color: rgb(32, 30, 180);
  /* Синій шрифт */
}

selection4 {
  color: rgb(32, 30, 180);
  /* Синій шрифт */
}

button {
  background-color: #2bdf8b;
  /* Світло-сірий фон */
  color: rgb(32, 30, 180);
  /* Синій шрифт */
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  font-size: 16px;

  border-radius: 5px;
  /* Закруглені кути */
}

h1 {
  color: rgb(61, 9, 104);
  text-align: left;
}

.form-group {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 5px;
}

.gender-group {
  display: flex;
  justify-content: flex-start;
  padding: 0px;
}

